@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Karma:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Karma:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
    font-family: "oswald";
}
/* HEADER************************************************************* */
header {
    background-color: black;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.icons a {
    color: beige;
    padding-right: 20px;
}

.search a {
    color: rgb(248, 250, 252);
}

/* TITLE***************************************************************** */
#title {
    background-color: rgb(251, 251, 251);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#title h1 {
    /* border: 2px solid blue; */
    font-size: 45px;
}
#title span{
    background-color: black;
    color: aliceblue;
    padding: 5px;
}

.title img {
    width: 100%;
}
.name{
    width:100%;
    background-image: url('./Assets/jane.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    padding:300px 1px;
    color:white;
}
.jane{
    margin: 30px;
    /* width: 40%; */
    /* border: 1px solid green; */
}
.jane span{
font-size: 65px;
font-weight: 700;
}
.jane h3{
    font-size: 30px;
    /* font-weight: 400; */
}
.jane button{
    background-color: rgba(179, 175, 175, 0.5);
    padding: 15px;
    border: none;
    width: 10%;
}
/* DESCRIPTION*************************************************************** */
.descri {
    margin: 30px;
    display: flex;
    gap: 40px;
    font-family: "open sans";
}
/* RIGHT SIDE******************************************************************** */
.right-side {
    width: 85%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 100%;
    padding: 25px;
}
.section1 h4, .section1 h5{
    display: flex;
    justify-content: center;
    font-family: "oswald";
    font-weight: 400;
   margin-bottom: 10px;
   font-size: 20px;
}
.section1 h5 span{
    color: grey;
}
.section1 img{
    width: 100%;
    padding: 10px 0px;
}
.section1 p{
    margin: 20px 0px;
}
.buttons a{
color: black;
}
.buttons{
    display: flex;
    justify-content: space-between;
   margin-bottom: 30px;
}
.buttons button{
    padding: 10px;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid black;
}
.buttons .replies{
    background-color: black;
    color: #EEEEEE;
}
.buttons .replies span{
    background-color: #ffffff;
    color: black;
    padding: 3px 7px;
    margin-left: 5px;
}
.George img{
    width: 15%;
}
.George{
    display: flex;
    margin: 2px 10px;
    /* border: 2px solid blue; */
}
.George h5, p{
    /* border: 2px solid rgb(255, 0, 68); */
    padding: 20px;
}
.George h5 span{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
.George p{
    margin-left: -218px;
    margin-top: 50px;
    font-size: 15px;
}
/* LEFT SIDE*************************************************************************** */
.left-side {
    width: 40%;
    background-color: rgb(253, 252, 249);
    
}

/* FOOTER************************************************************************** */
footer {
    padding: 7%;
    background-color: grey;
}
