@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Karma:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Karma:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
    font-family: "oswald";
}
/* HEADER************************************************************* */
header {
    background-color: black;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.icons a {
    color: beige;
    padding-right: 20px;
}

.search a {
    color: rgb(248, 250, 252);
}

/* TITLE***************************************************************** */
#title {
    background-color: rgb(251, 251, 251);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#title h1 {
    /* border: 2px solid blue; */
    font-size: 45px;
}
#title span{
    background-color: black;
    color: aliceblue;
    padding: 5px;
}

.title img {
    width: 100%;
}
.name{
    width:100%;
    background-image: url('./Assets/jane.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:300px 1px;
    color:white;
}
.jane{
    margin: 30px;
    /* width: 40%; */
    /* border: 1px solid green; */
}
.jane span{
font-size: 65px;
font-weight: 700;
}
.jane h3{
    font-size: 30px;
    /* font-weight: 400; */
}
.jane button{
    background-color: rgba(179, 175, 175, 0.5);
    padding: 15px;
    border: none;
    width: 10%;
}
/* DESCRIPTION*************************************************************** */
.descri {
    margin: 15px;
    display: flex;
    /* gap: 40px; */
    font-family: "open sans";
}
/* RIGHT SIDE******************************************************************** */
.right-side {
    width: 70%;
    background-color: #EEEEEE;
    padding-bottom: 100%;
    padding: 25px;
}
.section1{
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 20px;
}
.section1 h4, .section1 h5{
    display: flex;
    justify-content: center;
    font-family: "oswald";
    font-weight: 400;
   margin-bottom: 10px;
   font-size: 20px;
}
.section1 h5 span{
    color: grey;
    margin-left: 5px;
}
.section1 img{
    width: 100%;
    padding: 10px 0px;
}
.section1 p{
    margin: 1px 0px;
}
.buttons a{
color: black;
}
.buttons{
    display: flex;
    justify-content: space-between;
   margin-bottom: 30px;
   margin-left: 20px;
}
.buttons button{
    padding: 10px;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid black;
}
.buttons .replies{
    background-color: black;
    color: #EEEEEE;
    margin-right: 30px;
}
.buttons .replies span{
    background-color: #ffffff;
    color: black;
    padding: 3px 7px;
    margin-left: 5px;
}
.George img{
    width: 15%;
}
.George{
    display: flex;
    margin: 2px 10px;
    /* border: 2px solid blue; */
}
.George h5, p{
    /* border: 2px solid rgb(255, 0, 68); */
    padding: 20px;
}
.George h5 span{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
.George p{
    margin-left: -218px;
    margin-top: 50px;
    font-size: 15px;
}
.sect1 li{
    list-style: none;
}
.sect1 img{
    width: 100%;
 }
 .sect1, h4 p{
     background-color: black;
     color: #ffffff;
 }
/* LEFT SIDE*************************************************************************** */
.left-side {
    width: 30%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sect11 h4, .sect11 p{
    background-color: black;
    color: #EEEEEE;
}
.sect11 img{
    width: 100%;
    display: flex;
    gap: none;
}
.sect1{
    position: relative;
}
.sect1 h4, .sect2 h4, .sect3 h4, .sect4 h4, .sect5 h4{
background-color: rgb(1, 1, 1);
padding: 20px;
font-family: "oswald";
color: #ffffff;
}
.sect1 img{
    width: 20%;
    padding: 10px;
}
.sect1 ul{
    background-color: #ffffff;
    color: black;
    padding: 5px;
}
.sect1 li{
    border-bottom: 1px solid rgb(215, 210, 210);
    text-decoration: none;
}
.sect1 span{
position: absolute;
margin-top: 15px;
font-size: 15px;
margin-left: 10px;
}
.sect22{
    border: 1px solid rgb(254, 251, 251);
    /* padding-bottom: 10%; */
    background-color: #ffffff;
}
#sect2{
padding: 80px;
background-color: #EEEEEE;
margin: 15px;
}
.tags{
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tags span{
    font-family: "open sans", "sans-serif";
    background-color: #EEEEEE;
    padding: 2px 6px;
    font-size: 13px;
    margin-bottom: 10px;
}
.sect4{
    background-color: #ffffff;
}
.inspiration img{
    width: 43%;
    margin: 11px;
    
}
.sect5 a{
    color: black;
    margin-left: 10px;  
}
.sect5{
    background-color: #FFFFFF;
    padding-bottom: 20px;
}
.sect5 p{
    font-family: "open sans", "sans-serif";
    width: 105%;
}
.sect5  input, .sect5 button{
display: flex;
gap: 5px;
margin-left: 20px;
}
.sect5 input{
    padding: 8px;
    width: 320px;
    border-radius: 0px;
    border: 1px solid #b9b3b3;
}
.sect5 button{
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    background-color: red;
    color: #EEEEEE;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
/* FOOTER************************************************************************** */
footer {
    padding: 3%;
    background-color: grey;
}
.footer{
    margin-top: 40px;
    margin-left: 20px;
}
footer ul{
    background-color: black;
    color: #EEEEEE;
    width: 12%;
    padding: 10px;
    margin: -30px;
    list-style: none;
}
footer i{
    color: #EEEEEE;
    padding: 10px;
}
footer p{
    margin: 25px;
    margin-left: -50px;
}
footer p a{
    color: #EEEEEE;
}
